@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-dark text-light min-vh-100 d-flex flex-column justify-content-center">
    <h1 class="display-4">Contract Monthly Claim System</h1>
    
    <div class="d-inline-block">
        <a class="btn-outline-primary me-2" href="/Lecturer/Index">Lecturer</a>
        <a class="btn-outline-primary" href="/Claim/Index">Claim</a>
    </div>
</div>

<style>
    body{
        background-color: gold;
    }

    .btn-outline-light {
        border-color: gold;
        color: cyan;
    }

    .btn-outline-light:hover {
        background-color: gold;
        color: darkblue;
    }
</style>